.main-header {
    background-color: $header-clr;
    padding-block-start: 10px;

    .logo-search-container {

        .logo {
            height: 40px;
            width: 40px;

        }

        .search {
            gap: 4px;
            padding: 11px;
            width: 216px;
            background-color: $search-bgc;
            border-radius: 2em;
            cursor: text;

            input {
                height: 18px;
            }

            label {
                display: flex;
                align-items: center;
                height: max-content;

                .icon {
                    height: 16px;
                    width: 16px;
                }
            }
        }
    }

    .nav-container {

        nav {
            .nav-link {
                height: 48px;
                border-block-end: 2px solid transparent;
                padding-inline-end: 15px;
                letter-spacing: -0.16px;
                line-height: 24px;
                color: $icon-clr;
                font-family: Poppins;
                cursor: pointer;

                &:hover {
                    border-color: $select-nav-txt-clr
                }

                &.active {
                    color: $select-nav-txt-clr;
                    border-color: $select-nav-txt-clr
                }
            }

        }

        .more-container {
            .more-icon {
                cursor: pointer;
                display: none;
            }
        }
    }

    @include for-normal-layout {
        .logo-search-container {
            align-self: center;
        }

        .nav-container {
            position: relative;

            .not-active {
                display: none;
            }

            nav {
                position: absolute;
                flex-direction: column;
                background-color: $search-bgc;
                padding: 10px;
                top: 60px;
                right: 5px;
            }


            .more-container {
                border: 2px solid $border-clr;
                border-radius: 2em;
                padding: 5px;

                .more-icon {
                    display: block;
                }
            }
        }
    }

    @include for-narrow-layout {
        .logo-search-container {
            .search {
                width: 150px;
            }
        }
    }

}