* {
    box-sizing: border-box;
}


html {
    font-family: montserrat;
    line-height: 1.6;
    color: white;
}

body {
    font-size: rem(16px);
    margin: 0;
    background-color: $main-clr;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: caveat;
    margin: 0 0 0.6em;
    line-height: 1;
    -webkit-tap-highlight-color: transparent;
}


img {
    width: 100%;
}

p {
    margin: 0;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

input {
    width: 100%;
    border: transparent;
    background-color: transparent;

    &:focus {
        outline: none;
    }
}