* {
    box-sizing: border-box;
}


body {
    margin: 0;
}

.app {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr;
    background-color: $main-clr;
    font-size: rem(16px);
    color: $main-txt-clr;
    font-family: DM-Sans;
    font-weight: 500;
    line-height: 20px;

    main {
        overflow: auto;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1;
    -webkit-tap-highlight-color: transparent;
}


img {
    // width: 100%;
    height: 100%;
}

p {
    margin: 0;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

input {
    width: 100%;
    border: transparent;
    background-color: transparent;

    &:focus {
        outline: none;
    }
}