// Colors
$main-clr: #f6f7f7;
$card-clr: #fff;
$header-clr: #fff;
$search-bgc: #f4f5f5;



$nav-txt-clr: #949796;
$select-nav-txt-clr: #2db8a1;
$title-txt-clr: #282f2d;
$main-txt-clr: #000000;
$prominent-clr: #0a66c2;
$icon-clr: #737877;
$icon-txt-clr: #484e4c;
$border-clr: #e9eaea;

$lodeClr: lightgray;


// Breakpoints
$break-narrow: 500px;
$break-normal: 760px;
$break-wide: 1150px;